.loader{
    width: 100%;
    height: 100%;
    top: 10%;
    left: 1000px;
    text-align: center;
}
.pCarga{
    text-align: center;
    font-size: 30px;
    top: 0px;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    top:0px;
    left:0px;
}
.navbar{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(153, 29, 250,100);
}

.btn-lupa{
    width: 3%;
    height: 3%;
    margin-bottom: 0px;
    padding: auto;
}

.lupa{
    width: 100%;
    height: 100%;

}

.bi-house-door-fill, .bi-bell-fill, .bi-chat-left-dots-fill{
    color: white;
    cursor: pointer;
}
.bi-house-door-fill{
    border-bottom: 2px solid white;
}
.logo{
    width: 5%;
    height: 5%;
    top: 2%;
    left: 25%;
}

.imagenP{
    margin-left: 10px;
}
.botones{
    margin-right: 120px;
}
.foto-pubnav{
    position: absolute;
    left: 17%;
    right: 76.88%;
    top: 25.78%;
    bottom: 72.1%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 47px;
}
.foto-p .nav{
    position: absolute;
    width: 22px;
    height: 22px;
    left: 995px;
    top: 4px;
    border-radius: 100px;
}

.publicacion1{
    position: absolute;
    width: 706px;
    height: 670px;
    left: 273px;
    top: 250px;
    background: #F4F5F5;
    border-radius: 12px;
}
/*para hacer una publicacion el usuario*/
.publicar{
    position: absolute;
    width: 706px;
    height: 150px;
    left: 273px;
    top:80px;
    background: #F4F5F5;
    border-radius: 12px;
}
#publicar{
    position: absolute;
    width: 568.6px;
    height: 41.71px;
    left:0px;
    top: 80px;
}
.barraPublicacion{
    position: absolute;
    width: 656.27px;
    height: 160px;
    left: -310px;
    top:-1230px;
}
.barra{
    position: absolute;
    width: 661px;
    height: 50px;
    left: 20px;
    top: 10px;
}

.foto-pub{
    position: absolute;
    left: 17%;
    right: 76.88%;
    top: 25.78%;
    bottom: 72.1%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 47px;
}
.foto-p{
    position: absolute;
    width: 50px;
    height: 50px;
    left: -120px;
    top: 0px;

    border-radius: 100px;
}
.nombre-pub{
    position: absolute;
    width: 146px;
    height: 21px;
    left: 55px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}

.fecha-pub{
    position: absolute;
    width: 150px;
    height: 21px;
    left: 55px;
    top: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3F4444;
}
.img-pub{
    position: absolute;
    width: 704px;
    height: 435px;
    left: 2px;
    top: 90px;
}
.barra2{
    position: absolute;
    width: 656.27px;
    height: 160px;
    left: -300px;
    top: -680px;
}

.icono-mg{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 330px;
    top: 1177px;
}
.puntero{
    width:125px;
    height: 20px;
    background-color:  #040808;
    cursor: pointer;
}
.megusta:hover{
    background-color:  #3F4444;
}

.icono-coment{
    position: absolute;
    width:25px;
    height: 25px;
    left: 600px;
    top: 1182px;
}

.icono-comp{
    position: absolute;
    width: 22px;
    height: 22px;
    left: 850px;
    top: 1177px;
}
.foto-com{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 320px;
    top: 1250px;
    border-radius: 100px;
}

.like{
    position: absolute;
    width: 75px;
    height: 21px;
    left: 375px;
    top: 1186px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.coment{
    position: absolute;
    width: 80px;
    height: 21px;
    left: 640px;
    top: 1183px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
 
.comp{
    position: absolute;
    width: 81px;
    height: 21px;
    left: 888px;
    top: 1181px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.foto-pnav{
    
        position: absolute;
        width: 22px;
        height: 22px;
        left: 995px;
        top: 4px;
    
        border-radius: 100px;
      
    
}
.foto.coment{
    position: absolute;
    left: 769px;
    right: 76.88%;
    top: 52.28%;
    bottom: 45.6%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 47px;
}
.barra2{
    position: absolute;
    width: 656.27px;
    height: 160px;
    left: -300px;
    top: -680px;
}
#comentario{
    position: absolute;
    width: 568.6px;
    height: 41.71px;
    left: 380px;
    top: 1255px;
}
.clasePublicar{
    width: 706px;
    height: 140px;
    margin-left: 273px;
    background: #F4F5F5;
    border-radius: 12px;
    margin-top: 80px;
   
}
.perfil1{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 15px;
}
.inputClass{
    width: 568.6px;
    height: 41.71px;
    margin-left:20px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
}
.perfilFoto{
    float:left;
}
.iconos{
    justify-content: center;
    align-items: center;
    
}

.bi-camera-video-fill{
    width: 20px;
    height: 20px;
    margin-top: -1px;
    margin-left:0px;
}
p{
    left: 3 px;
}
.div1{
    padding: 8px;
    margin-top: -15px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between ;
}
.linkk{
    left:2px;
    border:none;
}
.btn-outline-dark{
    border-radius: 4px;
    background-color: #b9bbbb;
    border: none;
}
.boton2{
    margin: 30px;
    width: 90x;
    height: 30px;
    margin-left: 10px;
}
.boton1{
    margin: 30px;
    width: 90x;
    height: 30px;
}
.boton3{
    margin: 30px;
    width: 80x;
    height: 30px;
}
.boton4{
    margin: 30px;
    width: 80px;
    height: 30px;
    margin-left: 8px;
    
}
#buscar{
    width: 160px;
    height: 30px;
    margin-left: 50px;
    border-radius: 5px;
    font-family:  Roboto;
    font-size: 18px;
    font-size: 12px;
    border:none;
}


