.clasePublicar{
    width: 706px;
    height: 140px;
    margin-left: 273px;
    background: #d8e0e0;
    border-radius: 12px;
    margin-top: 80px;
   
}
.perfil1{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 15px;
}
.inputClass{
    width: 568.6px;
    height: 41.71px;
    margin-left:20px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
}
.perfilFoto{
    float:left;
}
.iconos{
    justify-content: center;
    align-items: center;
    
}

.bi-camera-video-fill{
    width: 20px;
    height: 20px;
    margin-top: -1px;
    margin-left:0px;
}
p{
    left: 3 px;
}
.div1{
    padding: 8px;
    margin-top: -15px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between ;
}
.btn-outline-dark{
    border-radius: 4px;
    background-color: cornsilk;
    border: none;
}
.boton2{
    margin: 30px;
    width: 90x;
    height: 30px;
    margin-left: 10px;
}
.boton1{
    margin: 30px;
    width: 90x;
    height: 30px;
}
.boton3{
    margin: 30px;
    width: 80x;
    height: 30px;
}
.boton4{
    margin: 30px;
    width: 80px;
    height: 30px;
    margin-left: 8px;
    
}


