@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }



body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

h2{ color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }


#card {
      width: 220px;
      margin: auto;
      margin-top: 0px;
  }
  #card h2 {
      text-shadow: 0 1px 0 #ffffff;
      font-size: 1.62em;
      color: #ffffff;
      display: block;
      width: 100%;
      padding-bottom: .4em;
      margin-bottom: .6em;
      border-bottom: 2px solid #ffffff;
      /*box-shadow*/
      -webkit-box-shadow: 0 1px 0 #27ae60;
      -moz-box-shadow: 0 1px 0 #27ae60;
      box-shadow: 0 1px 0 #27ae60;
  }
  #card a { color: #4a77d4 }
  #card label {
      font-size: 10px;
      display: block;
      float: right;
      clear: left;
      line-height: 2.4;
      margin: -30px 0 0;
      padding: 0;
      width: 190px;
      height: 20px;
  }
  input[type="text"],
  input[type="submit"] {
      clear: both;
      float: left;
      display: block;
      border: 1px solid #ccc;
      background: #ebebeb;
      margin: 6px 0;
      padding: 4px 10px;
      width: 100%;
      height: 34px;
      outline: 0;
      color: #34495e;
      font-size: 14px;
  }
  input[type=submit] {
      background: #27ae60;
      color: #ecf0f1;
      border: 0;
      border-bottom: 2px solid #2ecc71;
      margin: 10px 0 0;
  }
  input[type=checkbox] {
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      margin: 10px 12px 10px 0;
      /*border-radius*/
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      border: 0;
  }
  input[type=checkbox]:before {
      content: "";
      display: block;
      border: 2px solid #ccc;
      border-bottom: 1px solid #ccc;
      /*box-shadow*/
      -webkit-box-shadow: 0 2px 0 #bdc3c7;
      -moz-box-shadow: 0 2px 0 #bdc3c7;
      box-shadow: 0 2px 0 #bdc3c7;
      width: 16px;
      height: 16px;
      padding: 0px;
      margin: -2px;
      /*border-radius*/
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
  }
  input[type=checkbox]:active,
  input[type=checkbox]:focus {
      /*box-shadow*/
      -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
      box-shadow: 0 0 0;
  }
  input[type=checkbox]:checked { background: #27ae60 }
  input[type=checkbox]:checked:before {
      content: "✔";
      color: #4a77d4;
      text-align: center;
      line-height: 1.6;
      font-size: 10px;
      /*box-shadow*/
      -webkit-box-shadow: 0 2px 0 #bdc3c7 ,inset 0 1px 0px 0 #107a3d;
      -moz-box-shadow: 0 2px 0 #bdc3c7 ,inset 0 1px 0px 0 #107a3d;
      box-shadow: 0 2px 0 #bdc3c7 ,inset 0 1px 0px 0 #107a3d;
      text-shadow: 0 -1px 0 #107a3d;
      width: 16px;
      height: 16px;
      padding: 0px;
      margin: -2px;
      /*border-radius*/
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
  }
  input[type=text]:not([value*=" "]):active,
  input[type=text]:not([value*=" "]):focus {
      /*box-shadow*/
      -webkit-box-shadow: inset 8px 0px 0  #4a77d4;
      -moz-box-shadow: inset 8px 0px 0  #4a77d4;
      box-shadow: inset 8px 0px 0  #4a77d4;
  }

  input[type=submit] {
      background: #4a77d4;
      color: #ecf0f1;
      border: 0;
      position: relative;
      top: 1px;
      border-bottom: 1px solid;
  }
  input[value*=" Facebook"] {
      background: #3b5998;
      border-color: #1f4189;
      width: 50%;
      float: left;
      clear: none;
      margin-left: 0;
  }
  input[value*=" Google"] {
      background: #ff0000;
      border-color: #ff0000;
      width: 50%;
      float: left;
      clear: none;
  }
  input[value*=" Facebook"]:active,
  input[value*=" Facebook"]:focus {
      color: #ecf0f1;
      background: #1f4189;
  }
  input[value*=" Google"]:active,
  input[value*=" Google"]:focus {
      color: #ecf0f1;
      background: #0078a6;
  }