* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
#tiempo{ 
    position: fixed; 
    right:0;
    bottom: 0;
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: rgb(28, 30, 146);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#tiempoLimite{
    margin: 20px;
    font-size: 45px;
}
  
.hidden {
    display: none;
}
  
.btn {
    font: inherit;
    cursor: pointer;
    margin: 10px;
    border-radius: 2px;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    background-color: rgb(48, 32, 78);
}
.btn-1{
    margin-left: 50px;
}
  
p {
    font: inherit;
    font-size: 10vh;
    text-align: center;
    color:#6d2118;
    border-style: white;
    padding-top: 30px;
    color: rgb(104, 40, 40);
  
}
#textoFinJuego{
    font: inherit;
    font-size: 30px;
    text-align: center;
    color:#6d2118;
    border-style: white;
    padding-top: 30px;
    color: rgb(104, 40, 40);
}
  